/*Geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

main{
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*Menu*/

.menu{
    background-color: rgb(57, 59, 59);
    flex: 1 1 20%;
    text-align: center;
    height: 100%;
    border: 2px solid #585555;
    position: relative;
    padding-top: 3rem;
}

.menu h2{
    color: #fff;
    margin-bottom: 20px;
}
.menu a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.menu li:hover{
    background-color: #2b2929;
}
.menu li{
    padding: 1rem;
    list-style: none;
    width: 100%;
}

/*Container*/
.container{
    background-color: rgb(204, 204, 204);
    flex: 1 1 80%;
    padding: 2rem;
    text-align: center;
    border: 2px solid #585555;
}

.container h1{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 100px;
}

.container #texto{
    border: 2px solid #2b2929;
    margin-bottom: 50px;
    padding: 2rem;
    border-radius: 15px;
    color: #333131;
    font-weight: bold;
    font-size: 20px;
    transition: 1s;
    box-shadow: 5px 5px 5px 5px #2b2929;
}

.container .entradaTexto{
    width: 80%;
    border: none;
    border-bottom: 2px solid #2b2929;
    background-color: rgb(204, 204, 204);
    padding: 30px 10px 0px 10px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #5f5c5c;
    outline: none;
}

.estatisticas{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tempo{
    font-size: 17px;
    color: #2b2929;
    font-weight: bold;
}

.certo{
    color: green;
}
.errado{
    color: red;
}
